body{
}

section > *{
  display:inline-block;
/*  vertical-align:top;
*/}
.halfcourt{
  height:580px;
  width:390px;
  border:0px solid red;
  vertical-align: bottom;
  /*background:red;*/
}

#court{
  padding-top:10px;
  padding-bottom:10px;
  width:800px;
  height:600px;
  border:0px solid black;
  background:url('../img/pikucanvas-web.jpg');
}

#p1,#p2{
  width:120px;
  /*background:black;*/
}
#pika{
  width:80px;
}

.score{
  font-size: 70px;
  font-weight: bold;
  color: #f93738;
}